<h1>Demos de {{nombre | elipsis: 20 | uppercase}}</h1>
<p>
  <input type="text" [(ngModel)]="nombre"><br>
  <input type="button" value="saluda" (click)="saluda()">
  <input type="button" value="despide" (click)="despide()">
  <input type="button" value="di algo" (click)="di('algo')">
  <input type="button" value="cambia" (click)="cambia()">
  <input type="button" value="Notifica" (click)="notify.add(nombre)">
</p>
<p [textContent]="resultado">(Sin resultado)</p>
<p [hidden]="!visible">Ahora me ves</p>
<p *ngIf="visible">Ahora me existo</p>
<my-sizer [(size)]="tamanio" [min]="12"></my-sizer>
<p [ngClass]="estetica" [style.font-size.px]="tamanio">Lorem ipsum dolor sit amet consectetur adipisicing elit.
  Natus accusantium nisi obcaecati voluptates ab impedit optio suscipit. Quos, minima necessitatibus at consequatur officia natus, perferendis ipsum repellat, ex deleniti voluptatem.</p>
<p [class.error]="estetica.error">Solo el error</p>
<p>
  Calcula: 2 + 2 = {{(2 + 2) | number:'3.2-5'}} = {{calcula(2, 2) | currency:'EUR':'symbol':'1.2-2'}}
</p>
<ul>
  <li *ngFor="let item of listado; let ind=index; let fondo=odd;"
    [style.background-color]="fondo ? 'LightBlue' : 'Lavender'">
      {{item.nombre | titlecase}} ({{item.id}}) - Pos: {{ind + 1}}
  </li>
</ul>
<p>
  <select [(ngModel)]="idProvincia">
    <option *ngFor="let item of listado"
      value="{{item.id}}">{{item.nombre}}</option>
  </select>
  Selecionada: {{idProvincia}}<br>
  <input type="text" #txtProvincia>
  <input type="button" value="add" (click)="add(txtProvincia.value)">
</p>

